# Virtual environment
churn_mlops.venv/

# Python cache
__pycache__/
*.pyc

# Data and models (to be versioned with DVC later)
data/
models/

# macOS system files
.DS_Store

# Editor settings
.vscode/

# MLflow tracking data
mlflow.db
mlruns/
